*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navigation {
  margin-bottom: 1rem;
}

.container {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.body-copy {
    margin-top: 2rem;
}

#navLogo {
    margin-right: 0rem;
    padding-right: 0rem;
}
#navNameText {
    margin-left: 0rem;
}

.content {
    -webkit-flex: 2 2 15em;
    -ms-flex: 2 2 15em;
    -webkit-box-flex: 2;
    flex: 2 2 15em;
}
.banner-txt {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

img {
    display: inline-block;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.bio {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.bio img {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 0.5rem;
}

.bio-text {
    text-align: left;
}


/* MEDIA QUERIES */
@media (max-width: 576px) {
    /*576px = sm breakpoint in Bootstrap*/
    #navNameText {
        display: none;
    }

    #toggleNavBar {
        margin-top: 1rem;
    }
}

@media (min-width: 768px) {
    /* making rows go full width, despite content */
    .full-row {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .no-side-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width:68.9375em) {
    .banner-txt {
        max-width: 50%
    }
}

@media (min-width:55.125em) and (max-width:68.9375em) {
    .banner-txt {
        max-width: 60%
    }
}

@media (min-width:43.9375em) and (max-width:55.125em) {
    .banner-txt {
        max-width: 80%
    }
}

@media (min-width:43.9375em) {
    .banner-txt {
        position: absolute;
        top: 0;
        right: auto;
        left: auto;
        margin-top: 25vh;
        margin-left: 12.5vw;
        -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .banner-description {
        text-align: left;
        color: #F4F4F4;
    }
}

@media(max-width:43.9375em) {
    #bannerImage {
    display: none;
}
}

@media(min-width:40.625em) {
    .banner {
        position: relative;
    }
    .banner-title {
        text-align: left;
    }
}

@media(max-width:960px) {
    #project-2 {
        margin-top: 2.5rem;
    }
}

@media(min-width:40.625em) {
    .content-container {
        margin: 0 auto;
    }
    #bio-text {
        width: 50%
    }
    #bio-image {
        float: right;
        width: 40%
    }
}
