/* Colour Variables */
:root {
  --navColor: #2A2A2A;
  --navHoverColor: #69C6B3;
  --bodyColor: #2A2A2A;
  /* --headerColor: #99D3DF;;
  --header2Color: #88BBD6;
  --header3Color: #5C5C5C; */
  --headerColor: #606060;
  --header2Color: #7D7D7D;
  --header3Color: #7D7D7D;
  /* --linkColor: #99D3DF; */
  --linkColor: #69C6B3;
  --linkHoverColor: #ED6A5A;

  --buttonTextColor: #FFFFFF;
  --buttonBGColor: #88BBD6;
  --buttonBGHover: #ED6A5A;

  --filterCollapseTxtColor: #2A2A2A;
  --filterCollapseBG: #FFFFFF;
  --filterCollapseBGHover: #69C6B3;

  --filterButtonTxtColor: #3A3A3A;
  --filterButtonTxtHover: #69C6B3;
  --filterButtonBG: #FFFFFF;

}

body {
    color: var(--bodyColor);
}

h1 {
  margin: 0 0 1rem 0;
    font-family: 'Montserrat',  sans-serif;
    color:var(--headerColor);
    font-weight: 400;
}

h2 {
    font-family: 'Montserrat',  sans-serif;
    color: var(--header2Color);
    font-weight: 400;
    margin: 0.5rem 0rem;
    font-size: 1.50rem;
    max-width: 100%}

h3 {
    font-family: 'Montserrat',  sans-serif;
    color: var(--header3Color);
    font-weight: 400;
    margin: 0.5rem 0;
    font-size: 1.25rem;
}

p {
    font-family: 'Roboto',  sans-serif;
    font-weight: 300;
    font-size: 1rem;
    max-width: 75rem;
}

ol, ul {
    font-family: 'Roboto',  sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

ul {
    /* list-style-type: none; */
}

li {
    margin: 0.5rem 0;
}

a {
    text-decoration: none;
    color: var(--linkColor);
    -webkit-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

a:active, a:focus, a:hover {
    color: var(--linkHoverColor);
}

header {
    margin-bottom: 2rem;
}

pre {
    display: block;
    height: 40vh;
    overflow: auto;
    word-wrap: normal;
    white-space: pre-wrap;
}

div code {
    font-family: 'Roboto',  sans-serif;
    font-weight: 300;
    font-size: 80%;
    color: #88BBD6;
    background-color: #F4F4F4;
    padding: 0.5rem 1.5rem;
    display: block;
    max-width: 100%;
}

.snippet {
    font-style: italic;
    font-size: 0.75rem;
}

button {
    font-family: 'Montserrat',  sans-serif;
    padding: 0.50rem 1rem;
    color: var(--buttonTextColor);
    border-radius: 15px;
    border-style: solid;
    border-width: thin;
    text-decoration: none;
    -webkit-transition: border-color 0.3s ease-out,  background-color 0.3s ease-out;
    -o-transition: border-color 0.3s ease-out,  background-color 0.3s ease-out;
    transition: border-color 0.3s ease-out,  background-color 0.3s ease-out;
}

.cta-button {
    margin: 1rem 0;
    background-color: var(--buttonBGColor);
    border-color: var(--buttonBGColor);
}

.cta-button:active, .cta-button:focus, .cta-button:hover {
    background-color: var(--buttonBGHover);
    border-color: var(--buttonBGHover);
}

#about-button, #contact-button {
    margin-left: 1rem;
}

img {
    padding: 0;
    width: 100%;
    height: auto;
}

figure {
    /* width: 80%; */
    /* margin: 1rem 1rem 1rem 0; */
    margin: 1rem 0 1rem 0;
}

figure img {
    border: solid 1px #F1F1F1;
    margin-bottom: 0.5rem;
}

#noBorder img {
  border: solid 1px #FFFFFF;
}

#portrait {
  margin: 0;
}

figcaption {
    font-family: 'Roboto',  sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 0.75rem;
}

section p {
    margin-top: 0;
}

#portfolio-footer {
    margin: 2rem 0 1rem 0;
}

#styleguide-footer {
    padding: 0.5rem 0;
    width: 100%;
    background: rgba(0,  0,  0,  .030);
    border: none;
    text-align: center;
    font-size: 0.75rem;
}

#tw-icon {
  width: 50px;
}

#navLogo {
    opacity: 1!important;
    -webkit-transition: opacity 0.5s ease-out!important;
    -o-transition: opacity 0.5s ease-out!important;
    transition: opacity 0.5s ease-out!important;
}

#navLogo:active, #navLogo:focus, #navLogo:hover {
    opacity: 0.5!important;
}

#navTitle {
  margin: 0;
  padding: 0;
  /* font-family: 'Raleway',  sans-serif;
  font-size: 1.25rem; */
  /* font-family: 'Playfair Display',  serif;
  font-weight: 400;
  font-size: 1.5rem; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

#navSubtitle {
  margin: 0;
  padding: 0;
  /* font-family: 'Raleway',  sans-serif;
  font-size: 0.75rem; */
  /* font-family: 'Playfair Display',  serif;
  font-weight: 400;
  font-size: 0.75rem; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 0.75rem;
}

.nav-item {
    font-family: 'Playfair Display',  serif;
    font-weight: 400;
    padding-left: 1rem!important;
    /* color: #2A2A2A!important; */
    color: var(--navColor)!important;
    -webkit-transition: color 0.5s ease-out!important;
    -o-transition: color 0.5s ease-out!important;
    transition: color 0.5s ease-out!important;
}

.nav-item:active, .nav-item:focus, .nav-item:hover {
    /* color: #69C6B3!important; */
    color: var(--navHoverColor)!important;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 1rem!important;
    color: var(--navColor)!important;
    -webkit-transition: color 0.5s ease-out!important;
    -o-transition: color 0.5s ease-out!important;
    transition: color 0.5s ease-out!important;
}

.nav-link:focus, .nav-link:active, .nav-link:hover {
    /* color: #ED6A5A!important; */
    color: var(--navHoverColor)!important;
}

/* .banner img {
    position: relative;
    width: 100%;
    height: auto;
}

.banner-txt {
    position: relative;
    margin: 0.5rem 2rem;
}

.banner-title {
    text-align: center;
    margin: 0.25rem 0;
    font-size: 4rem;
    color: #99D3DF;
}

.banner-description {
    text-align: center;
    margin: 0.25rem 0;
    color: #88BBD6;
}

.banner-content {
    text-align: center;
    margin: 0.25rem 0;
    color: #88BBD6;
} */

#page-header {
    margin: 1.5rem 0;
    padding: 0;
}


/* PROJECTS */
/* from https://bootsnipp.com/snippets/featured/portfolio-gallery-with-filtering-category */

.project-preview {
    margin-bottom: 1.75rem;
}

.project-icon {
  opacity: 1!important;
  -webkit-transition: opacity 0.5s ease-out!important;
  -o-transition: opacity 0.5s ease-out!important;
  transition: opacity 0.5s ease-out!important;
}

.project-icon:active, .project-icon:focus, .project-icon:hover {
  opacity: 0.05!important;
  -webkit-transition: opacity 0.5s ease-out!important;
  -o-transition: opacity 0.5s ease-out!important;
  transition: opacity 0.5s ease-out!important;
}

#proj-header-1, #proj-header-2, #proj-header-3, #proj-header-4, #proj-header-5, #proj-header-6, #proj-header-7, #proj-header-8 {
  font-weight: 200;
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
}


/* #filter-link {
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
  font-family: 'Montserrat',  sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--filterCollapseTxtColor);
  background-color: var(--filterCollapseBG);
  border-color: var(--filterCollapseTxtColor);
  border-style: solid;
  border-width: thin;

  -webkit-transition: color 0.5s ease-out, background-color 0.5s ease-out, border-color 0.5s ease-out;
  -o-transition: color 0.5s ease-out, background-color 0.5s ease-out, border-color 0.5s ease-out;
  transition: color 0.5s ease-out, background-color 0.5s ease-out, border-color 0.5s ease-out;
}

#filter-link:active, #filter-link:focus, #filter-link:hover {
  color: var(--filterCollapseBG);
  background-color: var(--filterCollapseBGHover);
  border-color: var(--filterCollapseBGHover);
} */

/* #filter-card {
  padding: 1rem;
} */

#filter-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#filter-ul li {
  margin: 0;
}

.filter-header {
  margin: 0.15rem;
  margin-left: 0;
  padding: 0.15rem;
  display: inline-block;
  color: var(--filterButtonTxtColor);
  background-color: var(--filterButtonBG);
  border-color: var(--filterButtonBG);
  text-align: left;
  font-family: 'Montserrat',  sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.filter-button {
  margin: 0.15rem;
  margin-left: 0;
  padding: 0.15rem;
  display: inline-block;
  color: var(--filterButtonTxtColor);
  background-color: var(--filterButtonBG);
  border-color: var(--filterButtonBG);
  text-align: left;
  /* font-family: 'Roboto',  sans-serif; */
  font-family: 'Montserrat',  sans-serif;
  font-weight: 200;
  font-size: 0.9rem;


  -webkit-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.filter-button:active, .filter-button:focus, .filter-button:hover {
    color: var(--filterButtonTxtHover);
}

.filter-item {
  color: #2A2A2A;
  -webkit-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.filter-item:active, .filter-item:focus, .filter-item:hover {
  color: #73C887;
}


#backToTopButton {
    display: none;
    padding: 0.5rem 2rem;
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    z-index: 99;
    font-family: 'Roboto',  sans-serif;
    background-color: #88BBD6;
    color: white;
    border: none;
    border-radius: 15px;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#backToTopButton:active, #backToTopButton:focus, #backToTopButton:hover {
    background-color: #99D3DF;
}

.icon {
    display: inline-block;
    margin: 0 0.5rem;
    width: 2rem;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.icon:active, .icon:focus, .icon:hover {
    opacity: 0.5!important;
}
