body {
  background: #f5f1ed;
  background: linear-gradient(
    180deg,
    rgba(245, 241, 237, 1) 0%,
    rgba(217, 200, 183, 1) 100%
  );
}

.container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
h1 {
  font-size: 2rem;
  color: #d53232;
  margin-bottom: 0.25rem;
}
h2 {
  font-size: 1.25rem;
  color: #d53232;
  margin-bottom: 0.25rem;
}
h3 {
  font-size: 1rem;
  color: #8e745f;
  margin-top: 0;
}

p {
  margin: 0.5rem 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #8e745f;
}
p.bold {
  font-weight: 400;
}
p.small {
  font-size: 0.8rem;
}

.socials {
  margin: 0.5rem 0 1rem 0;
}
.icon-link {
  margin: 0.5rem 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.icon-link:hover {
  opacity: 0.5;
}

.tooltip:hover .tooltip-container {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.tooltip-container {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
  width: 250px;
  background-color: #d53232;
  border-radius: 10px;
  text-align: center;
}
.tooltip-trigger {
  margin-bottom: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.tooltip-trigger:hover {
  opacity: 0.5;
}

.tooltip-text {
  font-size: 0.9rem;
  color: #f5f1ed;
}
