:root {
  --black: #fff;
  --jet: #292929;
  --white: #ffffff;
  --cosmic-latte: #fff5e0;
  --dutch-white: #fcecc9; /*no uses yet*/
  --peach-yellow: #f6d58e;

  --columbia-blue: #bfd9ee;
  --carolina-blue: #7eb2dd;
  --steel-blue: #3381c1;
  --lapis-lazuli: #225681;

  --cherry-blossom: #fcb0b3;
  --light-red: #f96267;

  /* DEFAULTS */
  --main-bg-color: var(--columbia-blue);
  --container-bg-color: var(var(--dutch-white));
  --main-text-color: var(var(--jet));
  --link-text-color: var(--steel-blue);
  --hover-text-color: var(--cherry-blossom);
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}
img {
  width: 100%;
  height: auto;
}
h1 {
  margin: 0;
  color: var(--lapis-lazuli);
  font-weight: 600;
  font-size: 42px;
  @media screen and (min-width: 1110px) {
    font-size: 56px;
  }
}
h2 {
  margin: 0;
  color: var(--steel-blue);
  font-weight: 600;
  font-size: 20px;
  @media screen and (min-width: 1110px) {
    font-size: 24px;
  }
}
h3 {
  margin: 0;
  color: var(--steel-blue);
  font-weight: 600;
  font-size: 18px;
}
p {
  color: var(--main-text-color);
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
li {
  color: var(--main-text-color);
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}
a {
  color: var(--link-text-color);
  text-decoration: none;
  transition: color 0.35s ease-in-out;
  font-weight: 300;
}
a:hover {
  color: var(--hover-text-color);
}
img {
  width: 100%;
  height: auto;
}

.container {
  padding: 0 2.5rem;
  display: flex;
  align-items: flex-start;
  @media screen and (min-width: 1110px) {
    margin: 5rem 0;
    padding: 0 5rem;
    align-items: center;
  }
}

.w-30 {
  width: 30px;
  height: auto;
}
.br-2 {
  border-radius: 2rem;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
